APP_ENV=production
APP_DEBUG=false
APP_URL=https://yellowpages.so
LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=yellowpages
DB_USERNAME=yellowpages_user
DB_PASSWORD=CHANGE_ME

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
REDIS_HOST=redis
REDIS_PASSWORD=CHANGE_ME
REDIS_PORT=6379
